.App {
  display: flex;
}
.Price {
  width: 500px;
  margin: 40px 50px;
  border: 1px solid #000;
  border-radius: 10px;
}
.Score-order {
  width: 500px;
  margin: 40px 50px;
  border: 1px solid #000;
  border-radius: 10px;
}
.counter {
  margin: 16px 0 16px 250px;
  position: absolute;
}
.prices {
  margin: 16px 0 16px 330px;
  position: absolute;
}
.Ord {
  text-align: center;
}
.Prices {
  display: inline-block;
}
.add-ingredient {
  width: 230px;
  height: 80px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  margin-left: 15px;
}
.textes {
  display: flex;
}
.add-menu {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  margin-left: 15px;
}
.Menu {
  text-align: center;
}
.img{
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin-top: 10px;
}

.delete {
  position: absolute;
  margin: 16px 0 0 400px;
}